extend layout
block append main
      section#banner-gris
            .container-fluid
                .row
                   .col.s12.left
                        h1 About us
                        p.subtitulo Why our clients love to work with us
      section#primera
             .container-fluid
                .row
                   .col.s6.center
                        img(src="assets/img/aboutus/1.png")
                   .col.s6
                        p.espacio-arriba Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoDuis aute irure dolor in reprehenderit in voluptate
                .row
                     mixin parrafos(titulo,parrafo)
                            .col.s4.center
                                img.espacio-arriba(src="assets/img/home/icon1.png")
                                h4.mg-t #{titulo}
                                p.estilo-parrafo #{parrafo}
                        +parrafos("Increadibly Responsive","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
                             .col.s4.center
                                img.espacio-arriba(src="assets/img/home/icon2.png")
                                h4.mg-t #{titulo}
                                p.estilo-parrafo #{parrafo}
                        +parrafos("Superior Typography","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
                              .col.s4.center
                                img.espacio-arriba(src="assets/img/home/icon3.png")
                                h4.mg-t #{titulo}
                                p.estilo-parrafo #{parrafo}
                        +parrafos("Increadibly Responsive","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
      section#bicicleta-div.col.m6
                .row
                    .col.s12
                        img.right(src="assets/img/home/tour-icon2.png")
                .row
                    .col.s12.center
                        h4.espacio-arriba Meet the team
                        p Why our Clients love to work with us lore Lorem ipsum dolor sit amet.
                        p.espacio-abajo  consectetur adipisicing elit.
      section#cuatro-cuadros
                .row.center
                    .col.s3
                        img.responsive-img.tamano-imagen.espacio-arriba(src="assets/img/aboutus/4.jpg")
                        h6 John Doe
                        p CEO & Developer
                    .col.s3
                        img.responsive-img.tamano-imagen.espacio-arriba(src="assets/img/aboutus/1.jpg")
                        h6 John Doe
                        p CEO & Developer
                    .col.s3
                        img.responsive-img.tamano-imagen.espacio-arriba(src="assets/img/aboutus/2.jpg")
                        h6 John Doe
                        p CEO & Developer
                    .col.s3
                        img.responsive-img.tamano-imagen.espacio-arriba(src="assets/img/aboutus/3.jpg")
                        h6 John Doe
                        p CEO & Developer
                        br





