doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="./assets/css/main.css")
        link(rel="stylesheet", type="text/css" ,href="../node_modules/materialize-css/dist/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        title Replica con Pug,Handlebars,sass,Jade
    body
        .container-fluid.responsive-img
                .col.s12
                    ul.right
                       li
                          img.response.img(src="assets/img/pre-nav/facebook-logo.png" class="icon-soc" href="#")
                          img.response.img(src="assets/img/pre-nav/google-plus-logo.png" class="icon-soc" href="#")
                          img.response.img(src="assets/img/pre-nav/linkedin-letters.png" class="icon-soc" href="#")
                          img.response.img(src="assets/img/pre-nav/twitter.png" class="icon-soc" href="#")
        .container-fluid
                .row
                  .col.s12.m12.l12
                        .col.s6.left
                                img.mg-l.responsive-img(src="assets/img/logo.png")
                        .container-fluid.responsive-img
                            .col.s6
                                  ul.right
                                    li
                                      a(href="index.html") HOME
                                    li
                                      a(href="prices.html") PAGES
                                            i.material-icons arrow_drop_down
                                    li
                                      a(href="#") BLOG
                                            i.material-icons arrow_drop_down
                                    li
                                      a(href="portafolio.html") PORTAFOLIO
                                            i.material-icons arrow_drop_down
                                    li
                                      a(href="#") SHORTCODES
                                            i.material-icons arrow_drop_down
                                    li
                                      a(href="#")
                                            i.material-icons search
            section#hill
                .container-fluid
                    .row
                        .col.s12.m12.l12
                            mixin parrafo-princ(titulo,parrafo)
                                    .col.s12.m6
                                        .elementos
                                            h4#titulo-h4 #{titulo}
                                            p#parrafo.estilo-parrafo #{parrafo}
                                        button.btn.right-align Sign Up
                                    .col.s12.m6#imagenes-media
                                        img.right.pos-rel.pos-hill.responsive-img(src="assets/img/home/slider/hill.png")
                                        img.right.pos-ab.responsive-img.pos-bird1(src="assets/img/home/slider/birds1.png")
                                        img.right.pos-ab.responsive-img.pos-bird2(src="assets/img/home/slider/birds2.png")
                                        img.right.pos-ab.pos-casa.responsive-img(src="assets/img/home/slider/house.png")
                                        img.right.pos-ab.responsive-img.pos-sun(src="assets/img/home/slider/sun.png")
                        +parrafo-princ("We are creative nerds","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
            .section#parrafos.container-fluid
                .row
                    .col.s12
                        mixin parrafos(titulo,parrafo)
                            .col.s4.center
                                h4.mg-t #{titulo}
                                p.estilo-parrafo #{parrafo}
                        +parrafos("Increadibly Responsive","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
                            .col.s4.center
                                h4.mg-t #{titulo}
                                p.estilo-parrafo #{parrafo}
                        +parrafos("Superior Typography","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
                            .col.s4.center
                                h4.mg-t #{titulo}
                                p.estilo-parrafo #{parrafo}
                        +parrafos("Swift Page Builder","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
            section#bicicleta-div.col.m6
                .row
                    .col.s12
                        img.right(src="assets/img/home/tour-icon2.png")
            section#dos-columnas
                .row
                    .col.s6.center
                        img(src="assets/img/home/image1.png")
                    .col.s6.left
                        mixin parrafo-largo(titulo,parrafo)
                                h5 #{titulo}
                                p #{parrafo}
                        +parrafo-largo("Swift Page Builder","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.")
                .row
                    .col.s6.center
                        mixin parrafo-largo(titulo,parrafo)
                                h5 #{titulo}
                                p.right #{parrafo}
                        +parrafo-largo("Swift Page Builder","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.")
                    .col.s6.left
                        img(src="assets/img/home/image2.png")
                .row
                    .col.s6.center
                            img(src="assets/img/home/image3.png")
                        .col.s6.left
                            mixin parrafo-largo(titulo,parrafo)
                                    h5 #{titulo}
                                    p #{parrafo}
                            +parrafo-largo("Swift Page Builder","Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.")
            section#timon
                .row
        footer
            section#gotas
                .row
                    .container-fluid
                        img.under(src="assets/img/home/under.png")
            section#final
                .row
                    .col.s2
                        h5.right Testimonial
                        img.pos-rel.cuadro-azul(src="assets/img/home/profile1.png")
                    .col.s3
                        mixin frase(palabras,autor)
                              p #{palabras}
                              p #{autor}
                        +frase("Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.","_John Kalis")
                        br
                        br
                        +frase("Why our Clients love to work with us lore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.","_John Kalis")
                    .col.s3
                        .row
                            h5.left Contacts
                        .row
                            p Email:shazil.tovar@gmail.com
                            p Phone:+1(232)456 898
                            p Fax:+1(232)456 898
                        .row
                            h5.left Address
                        .row
                            p Antonio Caso Mz.9000
                            p Lote 13, Col Zona Escolar
                            p Gustavo A. Madero
                    .col.s4
                        .row
                            h5.left Send A Message
                            .row
                                .s3
                                    input.input-field(type="text", placeholder="Name")
                                    br
                                    input.input-field(type="text", placeholder="Email Id")
                                    br
                                    textarea.tamano-textarea(type="text", placeholder="Your text here")
                                    button.estilo-btn SUBMIT
                .row
                    .col.s1
                        img.cuadro-verde(src="assets/img/home/profile2.png")
         script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
         script(type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js")
         script(type="text/javascript" src="./assets/js/main.js")
         script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")
         script(type="text/javascript", src="../template.js", id="index")